:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text: #8e8f99;
  --accent-color: #e7e9fc;
  --light_color: #f4f4fd;

  --modal-overlay-color: #2e2f42;

  --hero-background-color: #2e2f42;
  --modal-background-color: #fcfcfc;
  --white-background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background: var(--white-background-color);
  list-style-type: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/**-------------HEADER--------------**/

.container-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  /*outline: 2px solid red;*/
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  /*margin-left: 76px;*/
}

.header-link {
  padding: 24px 0;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/**-------------IndexSection1--------------**/

.hero-titel {
  max-width: 496px;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-section {
  display: flex;
  padding: 188px 0;
}

.hero-button {
  min-width: 169px;
}

/**-------------IndexSection2--------------**/

.section-withauttlt {
  padding: 120px 0;
}

.container-withauttlt {
  display: flex;
  gap: 24px;
}

.list-withauttlt {
  width: calc((100% - 24px * 3) / 4);
}

.titel-withauttlt {
  margin-bottom: 8px;
}

/*!-приховує заголовок лише візуально на сторінці так, щоб заголовок не займав місце у потоці) Але вин залишається "видимим" для пошукових систем та скрінрідерів-*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**-------------IndexSection3--------------**/

.container-doing {
  padding-bottom: 120px;
}

.section-titel {
  margin-bottom: 72px;
}

.foto-doing {
  display: flex;
  gap: 24px;
  /*margin-top: 72px;*/
}

.foto-doing-list {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/**-------------IndexSection4--------------**/

.section-for {
  padding: 120px 0;
}

.titel-team {
  margin-bottom: 72px;
}

.list-comand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*margin-top: 72px;*/
  gap: 24px;
}

.list-section-for {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  gap: 8px;
  width: calc ((100%-3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-info {
  padding: 32px 16px;
}

.member-info-titel {
  text-align: center;
}

.paragraf-titel {
  margin-bottom: 8px;
}

.member-info-text {
  text-align: center;
}

/**-------------IndexSectionFooter--------------**/

.footer {
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.paragraf-text-white {
  max-width: 264px;
}

/*!-------------PortfolioNav--------------**/

.portfolio {
  padding: 96px 0 120px 0;
}

.list-portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  padding: 12px 24px;
}

/*!-------------PortfolijListDo--------------**/
.portfolio-list-do {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  /*gap: 48px 24px;*/
  padding-bottom: 120px;
}

.portfolio-list-modul {
  /*width: calc((100%-24px * 2) / 3);*/
  /*width: 360px;*/
  width: calc((100% - 48px) / 3);
}

.portfolio-text-do {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.paragraf-titel {
  margin-bottom: 8px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand-color);
}

.logo-accent {
  color: var(--dark-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}

.header-contakt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-contakt:hover,
.header-contakt:focus {
  color: var(--pressed-state-color);
}

.hero-section {
  background: var(--hero-background-color);
  text-align: center;
}

.hero-titel {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background-color);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

.section-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.paragraf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.paragraf-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-for {
  background-color: var(--light_color);
}

.list-section-for {
  background-color: var(--white-background-color);
}

.footer {
  background-color: var(--hero-background-color);
}

.paragraf-text-white {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light_color);
}

.logo-accent-white {
  color: var(--light_color);
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--light_color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
